* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
}

.hero {
  background-image: url("../images/background.png");
  width: 1440px;
  height: 928px;
  background-size: auto;
  padding: 0 197px;
  position: relative;
}

.navigation {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding: 13px 40px 13px 0;
  margin-right: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 21px;
  margin-right: 230px;
}

.nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.auth {
  padding: 0;
  margin: 0;
}

.auth__login {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-decoration: none;
  margin-right: 45px;
}

.auth__btn {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background: rgb(35, 166, 240);
}

.content {
  text-align: center;
  padding: 80px 174px;
}

.content__link {
  text-decoration: none;
  color: rgb(35, 166, 240);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.content__title {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding: 40px 78px;
}

.content__subtitle {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}

.content__btn {
  padding: 15px 40px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  border-radius: 5px;
  border: none;
  background: rgb(35, 166, 240);
}

.container {
  display: flex;
  gap: 30px;
  list-style: none;
  position: absolute;
  top: 840px;
}

.container__item {
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
  width: 328px;
  padding: 35px 40px;
}

.container__item--blue {
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  background: rgb(35, 166, 240);
  width: 328px;
  padding: 35px 40px;
}

.container__logo {
  padding: 22px 19px;
  border-radius: 10px;
  background: rgb(35, 166, 240);
  margin-bottom: 20px;
}

.container__logo--white {
  padding: 22px 19px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 20px;
}

.container__title {
  color: rgb(37, 43, 66);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.container__title--white {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.container__line {
  background: rgb(231, 64, 64);
  width: 50px;
  height: 2px;
  margin: 20px 0;
}

.container__line--white {
  background: rgb(255, 255, 255);
  width: 50px;
  height: 2px;
  margin: 20px 0;
}

.container__subtitle {
  color: rgb(115, 115, 115);
  width: 222px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.container__subtitle--white {
  color: #ffffff;
  width: 222px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
